<div class="container mt-5">

  <h1 class="text-center mb-4"><%= t('grades.grade') %></h1>
  
  <div class="card">
    <div class="card-body">
      <% if @grade && @grade.record_book && @grade.record_book.user %>
        <p>
           <strong><%= t('grades.sudent') %> </strong> : <%= @grade.record_book.user.name %> 
        </p>
      <% end %>
      <p > <strong><%= t('grades.grade') %> </strong> : <%= @grade.grade %></p>
      <p > <strong><%= t('grades.date') %> </strong>: <%= @grade.date %></p>
      <p > <strong><%= t('grades.subject') %> </strong>: <%= @grade.subject.name %></p>

    </div>
  </div>
  <% if @grade %>
    <div class="mt-4" role="group">
      <%= link_to t('common.edit'), edit_grade_path(@grade), class: 'btn btn-primary' %>
      <%= link_to t('common.back'), grades_path, class: 'btn btn-secondary' %>
    </div>
  <% end %>

</div>
