<style>
  .card {
    margin-top: 50px;
  }
</style>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center mb-4"><%= t('grades.grade') %></h1>

          <% if @grade && @grade.record_book && @grade.record_book.user %>
            <p class="text-center">
              <%= t('grades.sudent') %> : <%= @grade.record_book.user.name %> 
            </p>
          <% end %>

          <p class="text-center"><%= t('grades.grade') %> : <%= @grade.grade %></p>
          <p class="text-center"><%= t('grades.date') %>: <%= @grade.date %></p>
          <p class="text-center"><%= t('grades.subject') %>: <%= @grade.subject.name %></p>

          <% if @grade %>
            <div class="text-center">
              <%= link_to t('common.edit'), edit_grade_path(@grade), class: 'btn btn-default mr-2' %>
              <%= link_to t('common.back'), grades_path, class: 'btn btn-secondary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>