<div class="container mt-2">
  <ul class="dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 shadow w-220px" data-bs-theme="light">
    <li><a class="dropdown-item rounded-2 active" href="#"><%= t('semesters.name') %>: <%= @semester.name %></a></li>
    <li><a class="dropdown-item rounded-2" href="#"><%= t('semesters.start_date') %>: <%= @semester.start_date %></a></li>
    <li><a class="dropdown-item rounded-2" href="#"><%= t('semesters.end_date') %>: <%= @semester.end_date %></a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item rounded-2" href="<%= semesters_path %>"><%= t('semesters.back') %></a></li>
  </ul>
</div>
