<h1 class="text-center mb-4">Сформировать отчет по пересдаче аттестации</h1>

<%= form_with url: generate_report_attestation_retake_reports_path(format: :pdf), method: :post, local: true, class: "container", data: {controller: 'reports'} do |form| %>
  <%= hidden_field_tag(:_method, :get) %> <!-- Это скрытое поле для отправки GET запроса -->

  <div class="form-group row mb-3">
    <%= form.label :exam_id, 'Выберите аттестацию', class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.collection_select :exam_id, @attestations, :id, :name, { prompt: 'Выберите аттестацию' }, class: "form-select" %>
    </div>
  </div>

  <div class="form-group row mb-3">
    <%= form.label :group_id, 'Выберите группу', class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.collection_select :group_id, @groups, :id, :name, { prompt: 'Выберите группу' }, class: "form-select" %>
    </div>
  </div>

  <div class="form-group row mb-3">
    <div class="col-sm-10 offset-sm-2">
      <%= form.submit 'Сформировать отчет', class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
