<!-- app/views/retakes/_form.html.erb -->
<%= form_for @retake do |f| %>
  <% if @retake.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@retake.errors.count, 'error') %> prohibited this retake from being saved:</h2>
      <ul>
        <% @retake.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Add form fields here (e.g., subject, student, date, grade) -->
  <p>
    <%= f.label :subject_id %><br>
    <%= f.collection_select :subject_id, Subject.all, :id, :name %>
  </p>
  <p>
    <%= f.label :student_id %><br>
    <%= f.collection_select :student_id, Student.all, :id, :user_id  %>
  </p>
  <p>
    <%= f.label :date %><br>
    <%= f.date_field :date %>
  </p>
  <p>
    <%= f.label :grade_id %><br>
    <%= f.collection_select :grade_id, Grade.all, :id, :grade %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
