<h1 class="mb-4">Retakes</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Subject</th>
      <th scope="col">Students with Retakes</th>
      <th scope="col">Date</th>
      <th scope="col">Grade</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @retakes.each do |retake| %>
      <tr>
        <td><%= retake.subject.name %></td>
        <td><%= retake.record_books.map { |record_book| record_book.student }.uniq.count %></td>
        <td><%= retake.date %></td>
        <td><%= retake.grade %></td>
        <td>
          <%= link_to 'Show', retake, class: 'btn btn-info' %>
          <%= link_to 'Edit', edit_retake_path(retake), class: 'btn btn-primary' %>
          <%= button_to 'Destroy', retake, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Retake', new_retake_path, class: 'btn btn-success' %>
