<h1>Retake Details</h1>
<div class="mb-3">
  <strong>Subject:</strong> <%= @retake.subject.name %>
</div>
<div class="mb-3">
  <strong>Count students:</strong> <%= @retake.record_books.select(:student_id).distinct.count %>
</div>
<div class="mb-3">
  <strong>Date start:</strong> <%= @retake.date %>
</div>
<div class="mb-3">
  <strong>Grade:</strong> <%= @retake.grade.grade %>
</div>

<%= link_to 'Edit', edit_retake_path(@retake), class: 'btn btn-primary' %> |
<%= link_to 'Back', retakes_path, class: 'btn btn-secondary' %>
