<h1 class="text-center mb-4"><%= t('extends_reports.list') %></h1>

<div class="container">
  <style>
    .no-bold th a {
      font-weight: normal;
    }
  </style>
  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th><%= t('extends_reports.name') %></th>
        <th colspan="3"></th>
      </tr>
      </thead>
    <tbody class="no-bold">
        <tr>
          <th><%= link_to t('extends_reports.intermediate_attestation'), intermediate_attestations_path %></th>
          </tr>
          <tr>
          <th><%= link_to t('extends_reports.individual_report'), new_individual_report_path %></th>
          </tr>
          <tr>
          <th><%= link_to t('extends_reports.mark_report'), new_marks_report_path %></th>
          </tr>
          <tr>
          <th><%= link_to t('extends_reports.attestation_retake_report'), select_attestation_retake_reports_path %></th>
          </tr>
    </tbody>
  </table>
</div>
