<h1>Students</h1>

<% if @students.present? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Full Name</th>        
        <th>Specialization</th>
        <th>Group</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <tr>
          <td><%= student.user.first_name %> <%= student.user.last_name %> <%= student.user.middle_name %></td>
          <td><%= student.specialization.name %></td>
          <td><%= student.group.name %></td>
          <td>
            <%= link_to 'View', student_path(student), class: 'btn btn-sm btn-outline-primary' %>
            <%= link_to 'Edit', edit_student_path(student), class: 'btn btn-sm btn-outline-secondary' %>
            <%= button_to 'Delete', student_path(student), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No students found.</p>
<% end %>

<%= link_to 'Add Student', new_student_path, class: 'btn btn-primary' %>
