<h1>Personal Account</h1>

<dl class="row">
  <dt class="col-sm-3">Full Name</dt> 
  <dd class="col-sm-9"><%= @student.user.name %></dd>

  <dt class="col-sm-3">Specialization</dt>
  <dd class="col-sm-9"><%= @student.specialization.name %></dd>

  <dt class="col-sm-3">Group</dt>
  <dd class="col-sm-9"><%= @student.group.name %></dd>
</dl>


<%= link_to 'Edit', edit_student_path(@student), class: 'btn btn-secondary' %>
<%= link_to 'Back', students_path, class: 'btn btn-light' %>
