<%= form_tag url_for(action: :generate_report, controller: 'admin/dashboard', format: :pdf), method: :post do %>

    <div>
      <%= label_tag :intermediate_attestation_id, "Промежуточная аттестация" %>
      <%= select_tag :intermediate_attestation_id, options_for_select(IntermediateAttestation.all.map{ |ia| [ia.name, ia.id] }) %>
    </div>
  
    <div>
      <%= label_tag :record_book_id, "Студент" %>
      <%= select_tag :record_book_id, options_for_select(RecordBook.all.map{ |rb| [rb.user.name, rb.id] }) %>
    </div>
  
    <%= submit_tag "Сгенерировать PDF" %>
  <% end %>
  