<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="text-center"><%= @specialization.name %></h1>
    <div>
      <% if can? :edit, @specialization %>
        <%= link_to t('common.edit'), edit_specialization_path(@specialization), class: 'btn btn-secondary me-2' %>
      <% end %>
      <% if can? :destroy, @specialization %>
        <%= link_to t('common.delete'), specialization_path(@specialization), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn btn-danger' %>
      <% end %>
    </div>
  </div>
  
<% if @specialization.subjects.any? %>
    <h2><%= t('specializations.subjects') %> :</h2>
    <ul class="list-group mb-3">
      <% @specialization.subjects.each do |subject| %>
        <li class="list-group-item"><%= link_to subject.name, subject_path(subject) %></li>
      <% end %>
    </ul>
  <% else %>
    <p class="alert alert-info"><%= t('specializations.no_subjects') %></p>
  <% end %>

  <% if @specialization.groups.any? %>
    <h2><%= t('specializations.groups') %> :</h2>
    <ul class="list-group mb-3">
      <% @specialization.groups.each do |group| %>
        <li class="list-group-item"><%= link_to group.name, group_path(group) %></li>
      <% end %>
    </ul>
  <% else %>
    <p class="alert alert-info"><%= t('specializations.no_groups') %></p>
  <% end %>

  <%= link_to t('specializations.back'), specializations_path, class: "btn btn-secondary" %>
</div>
