<div class="container">
 <div class="row justify-content-center">
   <div class="col-md-8">


     <%= form_with(model: @notification, local: true, data: { turbo: false }) do |form| %>
      


       <div class="form-group row mb-3">
         <div class="col-sm-3 text-right">
           <%= form.label :message, class: "col-form-label" do %>
             <div><%= t('notifications.message')%> : </div>
           <% end %>
         </div>


         <div class="col-sm-9">
           <%= form.text_area :message, class: "form-control", rows: 3 %>
         </div>
       </div>


       <div class="form-group row mb-3">
         <div class="col-sm-3 text-right">
           <%= form.label :date, class: "col-form-label" do %>
             <div><%= t('notifications.date')%> : </div>
           <% end %>
         </div>


         <div class="col-sm-9">
           <%= form.date_field :date, class: "form-control" %>
         </div>
       </div>


       <div class="form-group row mb-3">
         <div class="col-sm-3 text-right">
           <%= form.label :user_id, "Users", class: "col-form-label" do %>
             <div><%= t('users.users')%> : </div>
           <% end %>
         </div>
         <div class="col-sm-9">
           <%= form.collection_select :user_id, @users, :id, :name, { prompt: t('notifications.select_user') }, { multiple: true, class: "form-control" } %>
         </div>
       </div>


       <div class="form-group row">
         <div class="col-sm-9 offset-sm-3 d-flex justify-content-between">
           <div>
              <%= form.submit (@notification.new_record? ? t('notifications.create_notification') : t('notifications.edit_notification')), class: "btn btn-primary" %>
           </div>
           <div>
             <%= link_to t('common.back'), notifications_path, class: "btn btn-secondary" %>
           </div>
         </div>
       </div>
     <% end %>
   </div>
 </div>
</div>
