<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <% subject = Subject.find(params[:subject_id]) %>
      <th><%= Date::MONTHNAMES[@month.to_i] %> / <%= subject.name %></th>
      <% (1..Time.days_in_month(@month.to_i)).each do |day| %>
        <th><%= day %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @record_books.each do |record_book| %>
      <tr data-record-book-id="<%= record_book.id %>">
        <td><%= link_to record_book.user.name, record_book_path(record_book) %></td>
        <% (1..Time.days_in_month(@month.to_i)).each do |day| %>
          <td>
            <% date = Date.new(Time.current.year, @month.to_i, day) %>
            <% grade = record_book.grades.find_by(date: date, subject_id: params[:subject_id]) %>
            <%= grade&.grade %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>