<div class="container">
  <h1 class="text-center mb-4">List of Groups</h1>

  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th>Curator</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td><%= group.name %></td>
          <td><% if group.curator %> <%= group.curator.name %> <% else %> Unassigned <% end %></td>
          <td>
            <%= link_to "Show", group_path(group), class: "btn btn-primary btn-sm" %>
            <% if can? :update, group %>
              <%= link_to "Edit", edit_group_path(group), class: "btn btn-warning btn-sm" %>
              <%= button_to "Destroy", group_path(group), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if can? :create, Group %>
    <%= link_to "New Group", new_group_path, class: "btn btn-success" %>
  <% end %>
</div>
