<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="text-center"><%= t('groups.list') %></h1>
    <% if current_user.admin? %>
      <%= link_to t('groups.new'), new_group_path, class: 'btn btn-primary' %>
    <% end %>
  </div>

  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th><%= t('groups.name') %></th>
        <th><%= t('groups.curator') %></th>
        <th><%= t('groups.specialization') %></th>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td><%= link_to group.name, group_path(group) %></td>
          <td><% if group.curator %> <%= group.curator.name %> <% else %> <%= t('groups.unassigned') %> <% end %></td>
          <td><%= group.specialization.name %></td>
          <% if current_user.admin? %>
          <td class="text-right">
            <%= link_to t('common.edit'), edit_group_path(group), class: 'btn btn-sm btn-secondary' %>
            <%= link_to t('common.delete'), group_path(group), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn btn-danger btn-sm mr' %>
          </td>
        <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
</div>
