<div class="container">
  <h1 class="text-center mb-4"><%= t('groups.list') %></h1>

  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th><%= t('groups.name') %></th>
        <th><%= t('groups.curator') %></th>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td><%= link_to group.name, group_path(group) %></td>
          <td><% if group.curator %> <%= group.curator.name %> <% else %> <%= t('groups.unassigned') %> <% end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
  
</div>
