<div class="container" data-controller="grade">
  <h1 class="text-center mb-4">Group Details</h1>
  
  <div class="mb-3">
    <p><strong>Name:</strong> <%= @group.name %></p>
    <p><strong>Curator:</strong> <%= @group.try(:curator).try(:name) || 'Unassigned' %></p>
    <p><strong>Specialization:</strong> <%= @group.specialization.name %></p>
  </div>

  <h1 class="text-center mb-4">Record Books</h1>
  
  <%= simple_form_for :grade, url: group_path, method: :get, html: { class: 'form-inline mb-3', id: 'grade-form' } do |f| %>
    <div class="form-group mr-2">
      <%= f.input :selected_month, collection: Date::MONTHNAMES.compact.each_with_index.map { |name, i| [name, i+1] }, prompt: 'Выберите месяц', input_html: { name: 'month', class: 'form-control', id: 'month-select' } %>
    </div>
    <div class="form-group mr-2">
      <%= f.input :subject_id, collection: @group.specialization.subjects, label_method: :name, value_method: :id, prompt: 'Выберите предмет', input_html: { name: 'subject_id', class: 'form-control', id: 'subject-select', data: { target: 'grade.subjectSelect' }, disabled: true } %> 
    </div>
    <%= hidden_field_tag :year, Time.now.year %>
  <% end %>

  <% if params[:month] && params[:subject_id] %>
    <div id="form-teacher" data-target="grade.formTeacher">
      <%= render partial: 'form_teacher' %>
    </div>
  <% end %>

  <button id="toggle-grade-form" class="btn btn-primary mt-3" data-action="click->grade#toggleGradeForm">Добавить оценку</button>
  <div id="grade-form-container" data-target="grade.gradeFormContainer" style="display: none;">
    <% month_days = params[:month] ? (1..Time.days_in_month(params[:month].to_i)).to_a : [] %>
    <%= simple_form_for Grade.new, url: {controller: "grades", action: "create"}, method: :post, html: { class: 'mb-3', id: 'grade-create-form' } do |f| %>
      <div class="form-group mb-2">
        <%= f.input :date, collection: month_days, prompt: 'Выберите день', input_html: { class: 'form-control', id: 'date-select', data: { target: 'grade.dateSelect' } } %>
      </div>
      <div class="form-group mb-2">
        <%= f.input :grade, collection: (1..5), prompt: 'Добавить оценку', input_html: { class: 'form-control', id: 'grade-select', data: { target: 'grade.gradeSelect' } } %>
      </div>
      <div class="form-group mb-2">
        <%= f.input :record_book_id, collection: RecordBook.where(specialization_id: @group.specialization.id, group_id: @group.id).map { |record_book| [record_book.user.name, record_book.id] }, prompt: 'Выберите студента', input_html: { class: 'form-control', id: 'record-book-select', data: { target: 'grade.recordBookSelect' } } %>
      </div>
      <%= hidden_field_tag :month, params[:month] %>
      <%= hidden_field_tag :year, Time.now.year %>
      <%= f.hidden_field :subject_id, value: params[:subject_id] %>
      <%= f.button :submit, 'Добавить оценку', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
