<div class="container">
    <h1 class="text-center mb-4"><%= t('groups.details') %></h1>
    
    <div class="mb-3">
      <p><strong><%= t('groups.name') %>:</strong> <%= @group.name %></p>
      <p><strong><%= t('groups.curator') %>:</strong> <%= @group.try(:curator).try(:name) || t('groups.unassigned') %></p>
      <p><strong><%= t('groups.specialization') %>:</strong> <%= @group.specialization.name %></p>
    </div>
  
  <h1 class="text-center mb-4"><%= t('groups.record_books') %></h1>
    
  <div data-controller="report"
       data-report-group-value="<%= @group.id %>" 
       data-report-specialization-value="<%= @group.specialization.id %>">
    <div>
      <label for="month-select">Месяц:</label>
      <select id="month-select" data-report-target="month">
        <%= options_for_select((1..12).map { |m| [Date::MONTHNAMES[m], m] }) %>
      </select>
    </div>
  
    <div>
      <label for="subject-select">Дисциплина:</label>
      <select id="subject-select" data-report-target="subject">
        <option value="">Выберите дисциплину</option>
      </select>
    </div>


    <div data-report-target="formTeacher">
    </div>
  </div>    
</div>
