<%= form_with(model: @user, local: true) do |form| %>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="card shadow-sm">
          <div class="card-body">
            <%= render 'shared/errors', object: @user %>

            <div class="mb-3">
              <div class="row">
                <div class="col-sm-3">
                  <%= form.label :first_name, t('users.first_name'), class: "col-form-label" %>
                </div>
                <div class="col-sm-9">
                  <%= form.text_field :first_name, class: 'form-control' %>
                </div>
              </div>
            </div>
            
            <div class="mb-3">
              <div class="row">
                <div class="col-sm-3">
                  <%= form.label :last_name, t('users.last_name'), class: "col-form-label" %>
                </div>
                <div class="col-sm-9">
                  <%= form.text_field :last_name, class: 'form-control' %>
                </div>
              </div>
            </div>
            
            <div class="mb-3">
              <div class="row">
                <div class="col-sm-3">
                  <%= form.label :middle_name, t('users.middle_name'), class: "col-form-label" %>
                </div>
                <div class="col-sm-9">
                  <%= form.text_field :middle_name, class: 'form-control' %>
                </div>
              </div>
            </div>
            
            <div class="mb-3">
              <div class="row">
                <div class="col-sm-3">
                  <%= form.label :phone_number, t('users.phone_number'), class: "col-form-label" %>
                </div>
                <div class="col-sm-9">
                  <%= form.text_field :phone_number, class: 'form-control' %>
                </div>
              </div>
            </div>
            
            <div class="mb-3">
              <div class="row">
                <div class="col-sm-3">
                  <%= form.label :email, t('users.email'), class: "col-form-label" %>
                </div>
                <div class="col-sm-9">
                  <%= form.email_field :email, class: 'form-control' %>
                </div>
              </div>
            </div>
            
            <div class="mb-3">
              <div class="row">
                <div class="col-sm-3">
                  <%= form.label :password, t('users.password'), class: "col-form-label" %>
                </div>
                <div class="col-sm-9">
                  <%= form.password_field :password, class: 'form-control' %>
                </div>
              </div>
            </div>
            
            <div class="mb-3">
              <div class="row">
                <div class="col-sm-3">
                  <%= form.label :password_confirmation, t('users.password_confirmation'), class: "col-form-label" %>
                </div>
                <div class="col-sm-9">
                  <%= form.password_field :password_confirmation, class: 'form-control' %>
                </div>
              </div>
            </div>
            
            <div class="mb-3">
              <div class="row">
                <div class="col-sm-3">
                  <%= form.label :status, t('users.status'), class: "col-form-label" %>
                </div>
                <div class="col-sm-9">
                  <%= form.check_box :status, class: 'form-check-input' %>
                </div>
              </div>
            </div>
            
            <div class="mb-3">
              <div class="row">
                <div class="col-sm-3">
                  <%= form.label :date_of_birth, t('users.date_of_birth'), class: "col-form-label" %>
                </div>
                <div class="col-sm-9">
                  <%= form.date_field :date_of_birth, class: 'form-control' %>
                </div>
              </div>
            </div>
            
            <div class="mb-3">
              <div class="row">
                <div class="col-sm-3">
                  <%= form.label :roles, t('users.role'), class: "col-form-label" %>
                </div>
                <div class="col-sm-9">
                  <%= form.collection_check_boxes :role_ids, Role.all, :id, :name do |b| %>
                    <div class="form-check">
                      <%= b.check_box class: "form-check-input" %>
                      <%= b.label class: "form-check-label" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            
            <div class="text-center mt-3">
              <%= form.submit (@user.new_record? ? t('common.create') : t('common.update')), class: "btn btn-primary mr-2" %> 
              <%= link_to t('common.back'), users_path, class: "btn btn-secondary" %> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
