<h2 class="card-title text-center"><%= t('users.change_your_password') %></h2>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-sm">
        <div class="card-body">

          <%= form_with(model: @user, local: true) do |form| %>
          
          <%= render 'shared/errors', object: @user %>

          <%= simple_form_for :user, url: update_password_path do |f| %>
            <div class="form-group row mb-3">
              <div class="col-sm-3 text-right">
                <%= f.label :password, class: "col-form-label" do %>
                  <div><%= t('users.new_password') %>:</div>
                <% end %>
              </div>
              <div class="col-sm-9">
                <%= f.password_field :password,
                                     required: true, 
                                     autofocus: true, 
                                     class: "form-control",
                                     autocomplete: "new-password",
                                     hint: ("#{@minimum_password_length} #{t('characters_minimum')}" if @minimum_password_length) %>
              </div>
            </div>
            <div class="form-group row mb-3">
              <div class="col-sm-3 text-right">
                <%= f.label :password_confirmation, class: "col-form-label" do %>
                  <div><%= t('users.confirm_your_new_password') %>:</div>
                <% end %>
              </div>
              <div class="col-sm-9">
                <%= f.password_field :password_confirmation,
                                     required: true, 
                                     class: "form-control",
                                     autocomplete: "new-password" %> 
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-9 offset-sm-3 d-flex justify-content-between">
                <div>
                  <%= f.button :submit, t('users.change_my_password'), class: "btn btn-primary mr-2" %>
                </div>
                <div>
                  <%= link_to t('users.back'), user_path, class: "btn btn-secondary" %>
                </div>
              </div>
            </div>
          <% end %>
          
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


