<h1>Личная страница</h1>

<div class="container">
  <h2><%= @user.name %></h2> 

  <div class="row">
    <div class="col-sm-9">
      <ul class="list-group">
        <li class="list-group-item"><strong>Email:</strong> <%= @user.email %></li>
        


        <li class="list-group-item"><strong>Статус:</strong> <%= @user.status %></li>
        <li class="list-group-item"><strong>Дата рождения:</strong> <%= @user.date_of_birth %></li>

        <li class="list-group-item">
          <strong>Роли:</strong>
          <% @user.roles.each do |role| %>
            <%= role.name %> 
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <div class="mt-3">
    <%= link_to "Изменить пароль", edit_password_path(@user), class: "btn btn-primary" %>
    <%= link_to "Изменить email", edit_email_path(@user), class: "btn btn-secondary" %>
  </div>
</div>