<h1>Personal Profile</h1>
<div class="container">  
  <h2><%= @user.name %></h2>   
  <div class="row">    
    <div class="col-sm-9">      
      <ul class="list-group">        
        <li class="list-group-item"><strong>Email:</strong> <%= @user.email %></li>                
        <% if @user.has_role?(:student) && @user.record_book.present? %>        
          <li class="list-group-item"><strong>Specialization:</strong> <%= @user.record_book.specialization.name %></li>
          <li class="list-group-item"><strong>Group:</strong> <%= @user.record_book.group.name %></li>
          <li class="list-group-item"><%= link_to "Record Book", @user.record_book %></li>  
        <% end %>        
        <li class="list-group-item"><strong>Status:</strong> <%= @user.status %></li>
        <li class="list-group-item"><strong>Date of Birth:</strong> <%= @user.date_of_birth %></li>      
        </li>      
      </ul>    
    </div>  
  </div>  
  <div class="mt-3">    
    <%= link_to "Change Password", edit_password_path(@user), class: "btn btn-primary" %>    
    <%= link_to "Change Email", edit_email_path(@user), class: "btn btn-secondary" %>  
  </div>
</div>
