<h2 class="card-title text-center"><%= t('users.forgot_your_password')=%></h2>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card" style="margin-top: 20px;">
        <div class="card-body">
   

          <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= f.error_notification %>
            
            <div class="form-group">
              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "email", class: "form-control", placeholder: "Your email" } %>
            </div>

    
            <div class="form-group row">
              <div class="d-flex justify-content-between">
                <div>
                   <%= f.button :submit,t('users.reset_password_instructions'), class: "btn btn-primary btn-block" %>
                </div>
                <div>
                   <%= link_to t('users.back'), user_path("users/shared/links"), class: "btn btn-secondary btn-block" %>
                </div>
              </div>
            </div>
          <% end %>

          
        </div>
      </div>
    </div>
  </div>
</div>
