<%= form_tag generate_marks_report_path, method: :post do %>
  <div>
    <%= label_tag :record_book_id, "Record Book" %>
    <%= select_tag :record_book_id, options_for_select(RecordBook.all.map{ |rb| [rb.user.name, rb.id] }) %>
  </div>

  <div>
    <%= label_tag :retake_count, "Retake Count" %>
    <%= number_field_tag :retake_count %>
  </div>

  <%= submit_tag "Generate Report" %>
<% end %>