<div class="container">
  <h1 class="text-center mb-4"><%= t('intermediate_attestations.list') %></h1>
  
  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th><%= t('intermediate_attestations.name') %></th>
        <th><%= t('intermediate_attestations.date') %></th>
        <th><%= t('intermediate_attestations.assessment_type') %></th>
        <th><%= t('intermediate_attestations.subject') %></th>
      </tr>
    </thead>
    <tbody>
      <% @intermediate_attestations.each do |intermediate_attestation| %>
        <tr>
          <td><%= link_to intermediate_attestation.name, intermediate_attestation_path(intermediate_attestation) %></td>
          <td><%= intermediate_attestation.date %></td>
          <td><%= intermediate_attestation.assessment_type %></td>
          <td><%= intermediate_attestation.subject.try(:name) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>