<div class="container">
  <h1 class="text-center mb-4"><%= t('intermediate_attestations.details') %></h1>
  
  <div class="card">
    <div class="card-body">
      <p><strong><%= t('intermediate_attestations.name') %> :</strong> <%= @intermediate_attestation.name %></p>
      <p><strong><%= t('intermediate_attestations.date') %> :</strong> <%= @intermediate_attestation.date %></p>
      <p><strong><%= t('intermediate_attestations.assessment_type') %> :</strong> <%= @intermediate_attestation.assessment_type %></p>
      <p><strong><%= t('intermediate_attestations.subject') %> :</strong> <%= @intermediate_attestation.subject.try(:name) || 'N/A' %></p>
    </div>
  </div>

  <div class="mt-4">
    <%= link_to t('intermediate_attestations.back'), intermediate_attestations_path, class: "btn btn-secondary mr-2" %>
    <%= link_to t('intermediate_attestations.download_pdf'), intermediate_attestation_path(@intermediate_attestation, format: "pdf"), class: 'btn btn-primary' %>
  </div>
</div>
