<h1>Intermediate Attestation Details</h1>

<p>
  <b>Name:</b> <%= @intermediate_attestation.name %>
</p>
<p>
  <b>Date:</b> <%= @intermediate_attestation.date %>
</p>
<p>
  <b>Assessment Type:</b> <%= @intermediate_attestation.assessment_type %>
</p>
<p>
  <b>Max Grade:</b> <%= @intermediate_attestation.max_grade %>
</p>
<p>
  <b>Subject:</b> <%= @intermediate_attestation.subject.try(:name) %>
</p>

<h2>Record Books</h2>

<table class="table">
  <thead>
    <tr>
      <th>Student</th>
      <th>Marks</th>
    </tr>
  </thead>
  <tbody>
    <% @record_books.each do |record_book| %>
      <tr>
        <td><%= record_book.student.name %></td>
        <td><%= record_book.marks %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Edit", edit_intermediate_attestation_path(@intermediate_attestation), class: "btn btn-primary" %>
<%= link_to "Back", intermediate_attestations_path, class: "btn btn-secondary" %>
