<div class="container mt-5">
  <h1><%= t 'subject' %>: <%= @subject.name %></h1>

  <p>
    <strong><%= t 'description' %>:</strong>
    <%= @subject.description %>
  </p>

  <%= link_to t('back'), subjects_path, class: 'btn btn-secondary' %>
</div>
