<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
       <%= form_with model: @record_book, data: { turbo: false } do |f| %>
        

        <div class="form-group row mb-3">
          <div class="col-sm-3 text-right">
            <%= f.label :user_id, class: "col-form-label" do %>
              <div>Student:</div> 
            <% end %>
          </div>

          <div class="col-sm-9">
            <%= f.collection_select :user_id, User.with_role(:student), :id, :name, { prompt: "Select Student" }, { class: "form-control" } %>
          </div>
        </div>

        <div class="form-group row mb-3">
          <div class="col-sm-3 text-right">
            <%= f.label :specialization_id, class: "col-form-label" do %>
              <div>Specialization:</div>
            <% end %>
          </div>
          <div class="col-sm-9">
            <%= f.collection_select :specialization_id, Specialization.all, :id, :name, { prompt: "Select Specialization" }, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row mb-3">
          <div class="col-sm-3 text-right">
            <%= f.label :group_id, class: "col-form-label" do %>
              <div>Group:</div>
            <% end %>
          </div>
          <div class="col-sm-9">
            <%= f.collection_select :group_id, Group.all, :id, :name, { prompt: "Select Group" }, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row mb-3">
          <div class="col-sm-3 text-right">
            <%= f.label :custom_number, class: "col-form-label" do %>
              <div>Number:</div>
            <% end %>
          </div>
          <div class="col-sm-9">
            <%= f.text_field :custom_number, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-9 offset-sm-3 d-flex justify-content-end">
             <%= f.submit (@record_book.new_record? ? "Create Record Book" : "Edit Record Book"), class: "btn btn-primary mr-2" %> 
            <%= link_to "Back", record_books_path, class: "btn btn-secondary" %> 
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>