<h3>Record Book for <%= record_book.user.name %></h3>

<% if record_book.grades.any? %>
  <table>
    <thead>
      <tr>
        <th>Subject</th>
        <th>Grade</th>
        <th>Semester</th>
        <th>Teacher</th>
      </tr>
    </thead>
    <tbody>
      <% record_book.grades.each do |grade| %>
        <tr>
        <td><%= grade.record_book.subject.name %></td>  
        <td><%= grade.grade %></td>
        <td><%= grade.record_book.subject.semester.name %></td> 
        <td><%= grade.record_book.subject.teachers.first.name %></td> 
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No grades found for this record book.</p>
<% end %>
