<div class="container">
  <div class="row mb-4">
    <div class="col-md-6">
      <h1>Record Books</h1>
    </div>
    <div class="col-md-6 text-end">
      <% if current_user.admin? %>
        <%= link_to 'Create New Record Book', new_record_book_path, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-md-9">
      <table class="table table-striped">
        <thead class="thead-light">
          <tr>
            <th>Student</th>
            <th>Custom Number</th>
            <th>Specialization</th>
            <th>Group</th>
            <th>Retake Count</th>
            <% if current_user.admin? %>
              <th class="text-right">Actions</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @record_books.each do |record_book| %>
            <tr>
              <td><%= record_book.user.name %></td>
              <td><%= record_book.custom_number %></td>
              <td><%= record_book.specialization.name %></td>
              <td><%= record_book.group.name %></td>
              <td><%= record_book.retake_count %></td>
              <% if current_user.admin? %>
                <td class="text-right">
                  <%= link_to 'Show', record_book_path(record_book), class: 'btn btn-sm btn-outline-primary' %>
                  <%= link_to 'Edit', edit_record_book_path(record_book), class: 'btn btn-sm btn-secondary' %>
                  <%= link_to 'Delete', record_book_path(record_book), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
    </div>
    <div class="col-md-3">
      <%= search_form_for @q, class: "form-inline" do |f| %>
        <div class="form-group mb-2">
          <%= f.label :custom_number_cont, "Custom Number" %>
          <%= f.search_field :custom_number_cont, placeholder: "Custom Number", class: "form-control" %>
        </div>
        <div class="form-group mb-2">
          <%= f.label :specialization_name_cont, "Specialization" %>
          <%= f.search_field :specialization_name_cont, placeholder: "Specialization Name", class: "form-control" %>
        </div>
        <div class="form-group mb-2">
          <%= f.label :group_name_cont, "Group" %>
          <%= f.search_field :group_name_cont, placeholder: "Group Name", class: "form-control" %>
        </div>
        <div class="form-group mt-3">
          <%= f.submit "Search", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>