<h1>Ведомость</h1>

<p>
  <strong>Студент:</strong>
  <%= @record_book.student.user.name %>
</p>

<p>
  <strong>Предмет:</strong>
  <%= @record_book.subject.name %>
</p>

<p>
  <strong>Преподаватель:</strong>
  <%= @record_book.teacher.name %>
</p>

<p>
  <strong>Аттестация:</strong>
  <%= @record_book.intermediate_attestation.name %>
</p>

<h2>Оценки</h2>
<% if @record_book.grades.any? %>
  <ul>
    <% @record_book.grades.each do |grade| %>
      <li><%= grade.value %></li>
    <% end %>
  </ul>
<% else %>
  <p>Оценок пока нет.</p>
<% end %>

<%= link_to 'Редактировать', edit_record_book_path(@record_book), class: 'btn btn-secondary' %>
<%= link_to 'Назад', record_books_path, class: 'btn btn-light' %>