<h1>Record Book</h1>
<p>
  <strong>Student:</strong>
  <%= @record_book.user.name %>
</p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Месяц</th>
        <% (1..Time.days_in_month(@month.to_i)).each do |day| %>
          <th><%= day %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @record_book.subjects.each do |subject| %>
      <tr>
        <td><%= subject.name %></td>
        <% (1..Time.days_in_month(@month.to_i)).each do |day| %>
          <td>
            <% grade = subject.grades.find { |g| g.created_at.day == day && g.created_at.month == @month.to_i } %>
            <% if grade %>
              <%= grade.grade %>
              <%= simple_form_for grade, url: {action: "update"}, method: :post do |f| %>
                <%= f.input :day, as: :hidden, input_html: { value: day } %>
                <%= f.input :subject_id, as: :hidden, input_html: { value: subject.id } %>
                <%= f.input :grade, collection: (1..5), prompt: 'Выберите оценку', input_html: { onchange: 'this.form.submit();', class: 'form-control' } %>
              <% end %>
            <% else %>
              <%= simple_form_for Grade.new, url: {controller: "grades", action: "create"}, method: :post do |f| %>
                <%= f.input :day, as: :hidden, input_html: { value: day } %>
                <%= f.input :subject_id, as: :hidden, input_html: { value: subject.id } %>
                <%= f.input :grade, collection: (1..5), prompt: 'Добавить оценку', input_html: { onchange: 'this.form.submit();', class: 'form-control' } %>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>

<h2>Retakes</h2>
<% if @record_book.retakes.any? %>
  <ul>
    <% @record_book.retakes.each do |retake| %>
      <li><%= retake.subject.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>No retakes yet.</p>
<% end %>

<%= link_to 'Edit', edit_record_book_path(@record_book), class: 'btn btn-secondary' %>
<%= link_to 'Back', record_books_path, class: 'btn btn-light' %>
