<h1>Attendance Details</h1>

<p>
  <b>Date:</b> <%= @attendance.date %>
</p>
<p>
  <b>Student:</b> <%= @attendance.record_book.name %>
</p>
<p>
  <b>Subject:</b> <%= @attendance.subject.name %>
</p>
<p>
  <b>Attendance Status:</b> <%= @attendance.attendance_status %>
</p>

<%= link_to "Edit", edit_attendance_path(@attendance), class: "btn btn-primary" %>
<%= link_to "Back", attendances_path, class: "btn btn-secondary" %>
