<h1 class="text-center mb-4"><%= t('extends_reports.generate_a_report') %></h1>

<%= form_tag generate_report_individual_reports_path(format: :pdf), method: :post, class: "container", data: {controller: 'subjects'} do %>
  <div class="form-group row mb-3">
    <%= label_tag :specialization_id, t('specializations.list'), class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= select_tag :specialization_id, 
                     options_for_select(@specializations.map { |s| [s.name, s.id] }), 
                     class: "form-select", 
                     data: { action: "change->subjects#change", subjects_target: "specialization" } %>
    </div>
  </div>
  <div class="form-group row mb-3">
    <%= label_tag :group_id, t('specializations.groups'), class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= select_tag :group_id, 
                     options_for_select([]),
                     class: "form-select", 
                     data: { action: "change->subjects#updateRecordBooks", subjects_target: "group" } %>
    </div>
  </div>

  <div class="form-group row mb-3">
    <%= label_tag :record_book_id, t('record_books.student'), class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= select_tag :record_book_id, 
                     options_for_select([]), 
                     class: "form-select", 
                     data: { subjects_target: "recordBook" } %>
    </div>
  </div>

  <div class="form-group row mb-3">
    <%= label_tag :intermediate_attestation_id, t('extends_reports.interim_certification'), class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= select_tag :intermediate_attestation_id, 
                     options_for_select([]),
                     class: "form-select", 
                     data: { subjects_target: "intermediateAttestation" } %>
    </div>
  </div>

  <div class="form-group row mb-3">
    <div class="col-sm-10 offset-sm-2">
      <%= submit_tag t('extends_reports.generate_a_report') , class: "btn btn-primary" %>
      <%= link_to t('common.back'), extends_reports_index_path, class: 'btn btn-secondary' %>
    </div>
  </div>
<% end %>
