<nav>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Users", users_path %></li>
    <li><%= link_to "Semesters", semesters_path %></li>
    <li><%= link_to "Subjects", subjects_path %></li>
    <li><%= link_to "Notifications", notifications_path %></li>
    <li><%= link_to "specializations", specializations_path %></li>
    <li><%= link_to "Retake", retakes_path %></li>
  </ul>
</nav>
