<nav>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Users", users_path %></li>
    <li><%= link_to "Semesters", semesters_path %></li>
    <li><%= link_to "Subjects", subjects_path %></li>
    <li><%= link_to "Grades", grades_path %></li>
    <li><%= link_to "Record Book", record_books_path %></li>
    <li><%= link_to "Students", students_path %></li>
    <li><%= link_to "Interim certifications", intermediate_attestations_path, class: "btn btn-info" %></li>
    <li><%= link_to "Groups", groups_path, class: "btn btn-secondary" %></li>
    <li><%= link_to "Attendance", attendances_path, class: "btn btn-primary" %></li>
    <li><%= link_to "Notifications", notifications_path %></li>
    <li><%= link_to "Specializations", specializations_path %></li>
    <li><%= link_to "Retake", retakes_path %></li>
    <li><%= link_to "Admin", new_user_session_path %></li>
  </ul>
</nav>
