<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>

<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>


<div class="col-md-6 offset-md-3 mt-5">
  <div class="card shadow-sm">
    <div class="card-header bg-light">
      <h2 class="text-center"><%= t('find_user') %></h2>
    </div>
    <div class="card-body">
      <%= simple_form_for :user, url: users_find_user_path, html: { class: 'form-horizontal' } do |f| %>
        <div class="form-inputs">
          <div class="form-group row">
            <%= f.label :first_name, t('first_name'), class: 'col-sm-3 col-form-label' %>
            <div class="col-sm-9">
              <%= f.input :first_name, input_html: { class: 'form-control' }, label: false %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :middle_name, t('middle_name'), class: 'col-sm-3 col-form-label' %>
            <div class="col-sm-9">
              <%= f.input :middle_name, input_html: { class: 'form-control' }, label: false %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :last_name, t('last_name'), class: 'col-sm-3 col-form-label' %>
            <div class="col-sm-9">
              <%= f.input :last_name, input_html: { class: 'form-control' }, label: false %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :date_of_birth, t('date_of_birth'), class: 'col-sm-3 col-form-label' %>
            <div class="col-sm-9">
              <%= f.input :date_of_birth, as: :date, input_html: { class: 'form-control' }, start_year: Date.today.year - 90, end_year: Date.today.year - 12, label: false %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :phone_number, t('phone_number'), class: 'col-sm-3 col-form-label' %>
            <div class="col-sm-9">
              <%= f.input :phone_number, input_html: { class: 'form-control' }, label: false %>
            </div>
          </div>
        </div>

        <div class="form-actions mt-4 text-center">
          <%= f.button :submit, t('find'), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>