<div class="col-md-6 offset-md-3 mt-5">
  <div class="card shadow-sm">
    <div class="card-header bg-light">
      <h2 class="text-center"><%= t('users.set_a_password_and_email_address')%></h2>
    </div>
    <div class="card-body">
      <%= simple_form_for(resource, as: resource_name, url: users_set_password_and_email_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f| %>
        <%= f.hidden_field :id, value: @user.id %>
        <div class="form-inputs">
          <div class="form-group row">
            <%= f.label :email, t('email'), class: 'col-sm-3 col-form-label' %>
            <div class="col-sm-9">
              <%= f.input :email, input_html: { class: 'form-control' }, label: false %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :password, t('password'), class: 'col-sm-3 col-form-label' %>
            <div class="col-sm-9">
              <%= f.input :password, input_html: { class: 'form-control' }, label: false %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :password_confirmation, t('password_confirmation'), class: 'col-sm-3 col-form-label' %>
            <div class="col-sm-9">
              <%= f.input :password_confirmation, input_html: { class: 'form-control' }, label: false %>
            </div>
          </div>
        </div>

        <div class="form-actions mt-4 text-center">
          <%= f.button :submit, t('users.complete_registration'), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
